$xs-screen: 320px;//mobile
$sm-screen: 750px; //tablet
$md-screen: 970px;//desktop
$lg-screen: 1170px;//lg-desktop
$xl-screen: 1600px;//xl


@mixin tablet {
  @media (min-width:#{$sm-screen}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$md-screen}) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width:#{$lg-screen}) {
    @content;
  }
}
