$mediumGrey: #4f5051;
$almostWhite: #4e4f4f;
$brandLight: white;
//campus
$brand-color: #cc0099; // campus
$secondary-purple: #9F0377; // campus
$pastel-grey: #cccccc; // campus
$granite-grey: #666666; // campus
