body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  color: white;
}

p {
  font-size: 1em;
  @include tablet {
    font-size: .667em;
  }
  @include desktop {
    font-size: .833em;
  }
  @include lg-desktop {
    font-size: 1em;//
  }

}

//'heading'
h1 {
  //mobile
  font-weight: 600;
  font-size: 1.5em;//1.5
  //desktop
  @include desktop {
    font-size: 2.167em;//2.167
  }
  @include lg-desktop {
    font-size: 2.5em;//2.5
  }
}

h2 {
  font-size: .75em;//.75
  @include desktop {
    font-size: 1em;//1
    font-weight: bold;
  }

}

button, .button {
  font-size: .583em;//.583
  font-weight: 600;

  @include desktop {
    font-size: .75em;//.75
  }
  @include lg-desktop {
    font-size: .833em;//.833
  }
}

footer, .footer {
  font-size: .5em;//.5
  @include desktop {
    font-size: .75em;//.75
  }
}

.campus {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	color: $brandLight;

	h1 {
		font-size: 5em;
		font-weight: 400;
	}
	h2 {
		font-size: 4em;
		font-weight: 400;
	}
	h3 {
		font-size: 3em;
		font-weight: 400;
	}
	h4 {
		font-size: 2em;
		font-weight: 400;
	}
	h5 {
		font-size: 1.5em;
		font-weight: 400;
	}
	p, li {
		font-size: 1em;
		font-weight: 400;
	}
}
