.page {
  .background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url("../../images/tim-mossholder-285543.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
  }
}

.stylist-info {
  padding: 20px;
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stylist-pic {
    @include tablet {
      margin-right: 20px;
    }
  }
  .stylist-other-stuff{
    .stylist-text {
      color: white;
      text-align: center;
      @include tablet {
        margin-left: 20px;
        text-align: left;
      }
      margin-top: 20px;
      margin-bottom: 30px;

      .name-and-summary {
        h1 {
          line-height: 1em;
          margin: 10px;
        }
        h2 {
          margin: 10px;
        }
      }
      .address-and-phone {
        margin-top: 20px;
      }
      .address-and-phone p {
        margin: 10px;
      }
    }

  }
}

.show-on-mobile {
  // border: 2px dashed pink;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.show-on-tablet {
  // border: 2px dashed green;
  display: none;

  @include tablet {
    display: block;
  }
}
