// @import '~stylesheets/scss/abstracts/_vars.scss';

.stylist-pic {
  // border: 4px solid blue;
}

.circle {
  margin: auto;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: 7px solid $lightGrey;
  background: url('http://www.oranjstudio.com/t/width=1400/scale/width=700/height=700/top=1/left=1/crop/f//channels/website/images/TEAM/oranj-staff-tam-1400x800.jpg/poster.jpg') right center no-repeat;
  background-size: cover;
}
