body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  color: white; }

p {
  font-size: 1em; }
  @media (min-width: 750px) {
    p {
      font-size: .667em; } }
  @media (min-width: 970px) {
    p {
      font-size: .833em; } }
  @media (min-width: 1170px) {
    p {
      font-size: 1em; } }

h1 {
  font-weight: 600;
  font-size: 1.5em; }
  @media (min-width: 970px) {
    h1 {
      font-size: 2.167em; } }
  @media (min-width: 1170px) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: .75em; }
  @media (min-width: 970px) {
    h2 {
      font-size: 1em;
      font-weight: bold; } }

button, .button {
  font-size: .583em;
  font-weight: 600; }
  @media (min-width: 970px) {
    button, .button {
      font-size: .75em; } }
  @media (min-width: 1170px) {
    button, .button {
      font-size: .833em; } }

footer, .footer {
  font-size: .5em; }
  @media (min-width: 970px) {
    footer, .footer {
      font-size: .75em; } }

.campus {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: white; }
  .campus h1 {
    font-size: 5em;
    font-weight: 400; }
  .campus h2 {
    font-size: 4em;
    font-weight: 400; }
  .campus h3 {
    font-size: 3em;
    font-weight: 400; }
  .campus h4 {
    font-size: 2em;
    font-weight: 400; }
  .campus h5 {
    font-size: 1.5em;
    font-weight: 400; }
  .campus p, .campus li {
    font-size: 1em;
    font-weight: 400; }

.icon-circle {
  border-radius: 50%;
  border: 2px solid white;
  height: 70px;
  width: 70px;
  position: relative; }
  .icon-circle .appointments-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.buttons {
  margin-top: 30px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.15);
  display: flex;
  height: 55px;
  align-items: center;
  padding: 0px 10px; }
  @media (min-width: 750px) {
    .buttons {
      height: 45px; } }
  .buttons .button {
    padding: 0px 10px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-right: 2px solid white; }
    .buttons .button:last-child {
      border-right: 0; }

.icons-wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto; }

.page .background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/tim-mossholder-285543.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 100vh; }

.stylist-info {
  padding: 20px; }
  @media (min-width: 750px) {
    .stylist-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (min-width: 750px) {
    .stylist-info .stylist-pic {
      margin-right: 20px; } }
  .stylist-info .stylist-other-stuff .stylist-text {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
    @media (min-width: 750px) {
      .stylist-info .stylist-other-stuff .stylist-text {
        margin-left: 20px;
        text-align: left; } }
    .stylist-info .stylist-other-stuff .stylist-text .name-and-summary h1 {
      line-height: 1em;
      margin: 10px; }
    .stylist-info .stylist-other-stuff .stylist-text .name-and-summary h2 {
      margin: 10px; }
    .stylist-info .stylist-other-stuff .stylist-text .address-and-phone {
      margin-top: 20px; }
    .stylist-info .stylist-other-stuff .stylist-text .address-and-phone p {
      margin: 10px; }

@media (min-width: 750px) {
  .show-on-mobile {
    display: none; } }
@media (min-width: 970px) {
  .show-on-mobile {
    display: none; } }

.show-on-tablet {
  display: none; }
  @media (min-width: 750px) {
    .show-on-tablet {
      display: block; } }

.circle {
  margin: auto;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: 7px solid #4f5051;
  background: url("http://www.oranjstudio.com/t/width=1400/scale/width=700/height=700/top=1/left=1/crop/f//channels/website/images/TEAM/oranj-staff-tam-1400x800.jpg/poster.jpg") right center no-repeat;
  background-size: cover; }
  @media (min-width: 970px) {
    .circle {
      height: 340px;
      width: 340px;
      border: 9px solid #4f5051; } }

.black-bg {
  background-color: black;
  min-height: 100vh; }

.el-container {
  padding: 20px; }
  .el-container h3, .el-container h4, .el-container h5 {
    margin: 0; }
  .el-container h5 {
    font-weight: bold; }
    .el-container h5.uppercase {
      text-transform: uppercase; }
  .el-container h4 {
    font-weight: 300; }
  .el-container .el-time {
    margin: 10px 0px; }

.el-bg-image {
  background: url("../../images/hair-yo.jpeg") center center no-repeat;
  background-size: cover;
  height: 780px;
  width: 700px;
  display: flex;
  align-items: flex-end; }

.el-content {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start; }

.el-purple-block {
  background-color: #9F0377;
  min-width: 70px;
  margin-left: 25px;
  padding: 20px; }

.el-details {
  padding: 20px 40px; }
  .el-details h4 {
    color: #cccccc; }

/*# sourceMappingURL=main.css.map */
